data/*
models/*
save/*
runs/*
.idea/*
*.ipynb_checkpoints
*.iml
*.xml
*.DS_Store
src/wandb/*
wandb/*
**/__pycache__/ 
data/Aug2.0/*
requirements.txt
requirements.txt
src/__pycache__/*
src/*.png
save/*
log/*
models/*
env/*
env
/env/*