data/combined_data/*
data/Augmented_rename/*
data/HAM10k/*
data/Aug2.0/*
data/Combined_data/*
data/Augmented_rename
.idea/*
*.ipynb_checkpoints
*.iml
*.xml
*.DS_Store
src/wandb/*
wandb/*
**/__pycache__/ 
*.pth
*/*.pth
*/*.pt
data/Aug2.0/*
requirements.txt
requirements.txt
src/__pycache__/*
save/*
